

.overlayText {
  position: absolute;
  top: 30%;
  left: 20%;
  z-index: 1;
}

#topText {
  color: white;
  font-size: 20px;
  align-self: center;
}

.centercontent {
  max-width: 100%;
  height: auto;
}


@media (print), (prefers-reduced-motion: reduce) {
  .animated {
      -webkit-animation-duration: 1ms !important;
      animation-duration: 1ms !important;
      -webkit-transition-duration: 1ms !important;
      transition-duration: 1ms !important;
      -webkit-animation-iteration-count: 1 !important;
      animation-iteration-count: 1 !important;
  }
}

.earth {
  --d:800px;
  width: var(--d);
  height:var(--d);
  display:inline-block;
  margin: 5px;
  border-radius: 50%;
  box-shadow: -20px -20px 50px 2px #e35858 inset, 0 0 20px 2px #d5b825;
  background: 
    url(https://i.stack.imgur.com/3SLqF.jpg)
    0/auto 100%;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  to {
    background-position:200% 0;
  }
}

#myVideo {
  position: fixed;
  right: 500px;
  bottom: 500px;
  width: 80px; 
  height: 80px;
  min-width: 50%; 
  min-height: 50%;
}

#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #b21515;
  color: #ffffff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}
  
body {background-image: url("B2.png");
      -webkit-background-size: cover; 
      -moz-background-size: cover;
      -o-background-size: cover; 
      height: auto;
      background-repeat: no-repeat;
      background-position: center top;
     }

headerr{
    position: relative;
    margin-top: 0px;
    margin-bottom: 200px;
    background-color: blue;
    background-size:content;
    padding : 0px;
    align-items: center;
    
}

header {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

video {
  position: inherit;
  min-width: 100%;
  overflow: hidden;
  z-index: -1;
}

h1 {color: linear-gradient(red, rgb(244, 244, 247));
    font-family: Times New Roman;
    font-size: 900%;
    height: auto;
    width: auto;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 10px;
    display: flex;
    position: relative;
    justify-content: right;
    background: -webkit-linear-gradient(red, rgb(244, 244, 247));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 1;
    }
 
h2  {color: linear-gradient(red, rgb(244, 244, 247));
     margin: auto;
     padding: 15px 15px 15px 15px;       
     margin-top: 10px;
     margin-bottom: 100px;
     text-align: left;
     font-size: 40px;
     font-weight: 50;
     text-decoration: line-through;
     background: -webkit-linear-gradient(red, rgb(244, 244, 247));
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     font-family: "Times New Roman";
     }

h3   {color: rgba(255, 217, 0, 0.892);
      margin: auto;
      justify-content: center;
      font-stretch: ultra-expanded;
      font-size: 200%;
      display: flex;
      font-family: "Times New Roman";
      }

h4 {background: transparent;
    color: white;
    text-align: left;
    font-size: 30px;
    margin: 5px;
    }
     
p   {color: whitesmoke;
     margin: auto;
     padding: 15px 15px 15px 15px;       
     margin-top: 30px;
     margin-bottom: 30px;
     text-align: left;
     font-size: 25px;
     font-weight: 900;
     font-stretch: ultra-expanded;
     width:90%;
     }
     
h2.inset {border-style: inset;
         border-width: 8px;
         border-color: white;
         border-radius: 5px;
         width:87%;
         }
    
hr  {display: block;
     border-style: inset;
     border-width: 4px;
     border-color: rgb(243, 138, 138);
     margin-bottom: 50px;
     width: 97%;
    }


ul {background: transparent;
    padding: 20px;
   }
    
ul li {background: transparent;
       color: white;
       text-align: left;
       font-size: 30px;
       margin: 5px;
       list-style-type: circle;
      }

.wrapper {position: relative;
         }

.column{flex: 50%;
        padding: 5px;
        }

.row{display: flex;
        }


.videoo {position: relative;
        z-index: -1;
        width:100%;
        }
        
      



